{% extends 'base.html.twig' %}

{% block body %}
    <h1>This is the WizzyWig Page!</h1>

    <p>Go back to the <a href="{{ path('app_lucky_number', {'count': '10'}) }}">
  Lucky Number
</a> page.</p>
{% endblock %}
